.git
.github
.hypothesis
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]

.env
config.yaml
unifest-secrets
*.cntx
mosquitto_pass

bot.db
bot.db-shm
bot.db-wal
logs

build
dist
*.egg-info
htmlcov
.coverage
.coverage.*

rust/target
